<div style="padding: 20px;">
    
    <%if (isBenh) {%>
        <p><a href="/rules/giong">Quản lý luật chọng giống</a></p>
    <%} else {%>
        <p><a href="/rules/benh">Quản lý luật bệnh</a></p>
    <%}%>
</div>
<div class="row" style="width: 94%; margin: 20px;">
    <div style="width: 100%">
        <button id="add-new-rule" class="btn mybtn" style="width: 100%">Thêm luật mới</button>
        <div id="new-rule-form" class="ui-widget" hidden>
            <div class="form-group"> 
                <label for="result-selector">Chọn bệnh: </label>
                <input id="result-text" name="result" class="form-control" oninput="findResult('<%=isBenh%>')" placeholder="Chọn bệnh">
                <label for="symptons-seletor">Chọn các triệu chứng: </label>
                <input id="event-text" class="form-control" oninput="findEvent('<%isBenh%>')" placeholder="Chon triệu chứng bệnh">
                <div id="event-list">
                    <div id="tag" style="margin: 10px;">
                        
                    </div>
                </div>
                <button id="create-rule-btn" class="btn mybtn" style="border: 0.5px solid #b7bec9">Tạo mới</button>
            </div>
        </div>
        <table style="width: 100%">
            <tr>
                <%if (isBenh) {%>
                    <th>ID</th>
                    <th>Tên bệnh</th>
                    <th>Các triệu chứng</th>
                    <th>Biện pháp chữa trị</th>
                <%} else {%>
                    <th>ID</th>
                    <th>Tên giống lúa</th>
                    <th>Các đặc điểm</th>
                    <th>Thông tin chi tiết</th>    
                <%}%>      
                <th>Tùy chọn</th>

            </tr>
            <%rules.forEach(rule => {%>
                <tr>
                    <td><%=rule.id%></td>
                    <td><%=rule.result.name%></td>
                    <td>
                        <%rule.events.forEach(event => {%>
                            <p><%=event.name%></p> 
                        <%})%>
                    </td>
                    <td>
                      
                        <p><%=rule.result.solution%></p>
                        
                        
                    </td>
                    <td>
                        <button onclick="updateResult('<%=rule.result.id%>')">Chỉnh sửa</button>
                    </td>
                </tr>
            <%})%>
        </table>

    </div>
</div>
<div class="modal" id="myModal">
    
</div>